:root {
  /* ここでフォントを一元管理 */
  --font-main: "Yu Gothic", "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
  --font-code: "HackGen", "Consolas", monospace; /* プログラム用などに */
  
  /* ついでにメインの色なども変数にしておくと便利です */
  --color-text-main: #333333;
  --color-bg-base: #f4f4f4;
}

/* 全体に適用 */
body {
  font-family: var(--font-main); /* 変数を呼び出す */
  color: var(--color-text-main);
  background-color: var(--color-bg-base);
  line-height: 1.6;
}

/* アイコン設定 */
.material-symbols-outlined {font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;}
.icon-sm { font-size: 1.125rem !important; } /* 18px */
.icon-md { font-size: 1.25rem !important; }  /* 20px */

/* 入力フォーム類も明示的にフォントを指定（親のフォントを継承しないことがあるため） */
input, select, textarea, button {
  font-family: inherit; /* bodyのフォントを引き継ぐ */
}

/* UX改善: スクロールバー */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* slate-300 */
    border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8; /* slate-400 */
}    